
<html>
  <head lang="zh">
  <%- include('./_blocks/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  </head>

  <body>
 <%- include('./_blocks/header') %>

    <div class="main">
      <div class="main-inner">


<div class="content">






  <div class="post_page" >

<div class="post">
  <div class="post_title sm_margin">
    <h2><a><%= post.title %></a>



    </h2>
  </div>

  <div class="post_details">
    <div class="info"><i class="fa fa-clock-o"></i>
<span class="date_info"><%= post.dateFormat %></span>
<i class="fa fa-eye"></i>

<span class="date_info"><span id="busuanzi_value_page_pv"></span> Views</span>


<i class="fa fa-bookmark-o"></i>
<span class="tags_info weaklink">
	<% post.tags.forEach(function(tag) { %>
	<a href="<%= tag.link %>" class="tag"><%= tag.name %></a>
<% }); %>

</span>


    </div>

  </div>





  <div class="post_content markdown"><p class="md_block">
    <span class="md_line md_line_start md_line_end"><%- post.content %></p>

     <p class="md_block">
    <div class="reward"><div class="reward-button">赏 <span class="reward-code"> <span class="alipay-code"> <img class="alipay-img" src="<%= themeConfig.domain %>/media/images/alipay.png"><b>支付宝扫码打赏</b> </span> <span class="wechat-code"> <img class="wechat-img" src="<%= themeConfig.domain %>/media/images/wechat.png"><b>微信打赏</b> </span> </span></div></div>
</p> 
</div>

</div>



<link href="<%= themeConfig.domain %>/styles/main.css" type="text/css" rel="stylesheet"/>

<div class="doc_comments">
<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./_blocks/gitalk') %>
          <% } %>
			  
          <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./_blocks/disqus') %>
          <% } %>
        <% } %>
</div>



  </div>
</div>



      </div>




    </div>

<%- include('./_blocks/footer') %>
</body>

</html>